<!DOCTYPE html>
<html lang="en">
<head>
	<title>Url_shortner</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylecode.css') }}">

	
</head>
<body>
	<img src="{{url_for('static', filename='img/wish_onam.jpg')}}">
	<div class="container">
		
		{% block content %}{% endblock %}	
		
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jsCode.js') }}"></script>
	</div>
</body>
</html>
